.card {
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.thumbnail {
    width: 100%;
    border-radius: 14px 14px 0 0;
}

.card_body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}